.page1 {
    
    background-color: whitesmoke;
    height: 700px;
    width: 95%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

}

.homeimg {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    position: absolute;
    right: 90%;
}

.hobbyimg {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    position: absolute;
    left: 84%;

}

.eduimg {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    position: absolute;
    left: 84%;

}

.profimg {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    position: absolute;
    left: 93%;

}

.achimg {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    position: absolute;
    left: 90%;

}

.dabba {
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 75%;
    align-self: center;
    width: 90%;
}

.dabba1 {
    background-color: skyblue;
    height: 90%;
    width: 45%;
    border-radius: 20px;
   
}

.dabba2 {
    background-color: skyblue;
    height: 90%;
    width: 45%;
    border-radius: 20px;

}